<body>
  <div class="login-container">
    <h1 class="login-title">Sign Up</h1>

    <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
      <div class="form-group">
        <label for="email" class="form-label">Email Id:</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-input"
          formControlName="emailId"
          placeholder="Enter your Email Id"
        />
      </div>

      <div *ngIf="signUpForm.get('emailId')?.invalid && signUpForm.get('emailId')?.touched">
        <small *ngIf="signUpForm.get('emailId')?.errors?.['required']" style="color: red">Email is required</small>
        <small *ngIf="signUpForm.get('emailId')?.errors?.['email']" style="color: red">Invalid email format</small>
      </div>

      <div class="form-group">
        <label for="password" class="form-label">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-input"
          formControlName="password"
          placeholder="Enter your Password"
        />
      </div>

      <div *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched">
        <small style="color: red">Password is required</small>
      </div>

      <button type="submit" class="login-button" [disabled]="signUpForm.invalid">Sign Up</button>
    </form>

    <div class="signup-link">Already have an account? 
      <a routerLink="/log-in" style="text-decoration: none">Log In </a>
    </div>
  </div>
</body>
